.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $color_03;
  color: white;
  top: 0;
  z-index: 1000000;
  transition: all $sidebar_animation linear;
  height: $header_height;
}

.Header__open{
  margin-left: $sidebar_width_open;
  width: calc(100vw - #{$sidebar_width_open});
}
.Header__close{
  margin-left: 0;
  width: calc(100vw - #{$sidebar_width_close});
}


.Header__menu {
  padding: calc((#{$header_height}  - #{$header_menu_button_height}) /2) 1rem;
  &:hover{
    background: lighten($color_02, 10%);
    cursor: pointer;
  }
}

.Header__menu img{
  height: $header_menu_button_height;
}
