.Page{
  // width: 100%;
  position: relative;

  transition: all $sidebar_animation linear;
}

.Page__open{
  width: calc(100% - #{$sidebar_width_open});
  left: $sidebar_width_open;
}
.Page__closed{
  width: calc(100% - #{$sidebar_width_close});
  left: $sidebar_width_close;
}

.Page__title{
  font-size: $font_page_title;
  padding: calc((#{$page_title_height} - 2.8rem)/2) 2rem;

  height: $page_title_height;
  background-color: lighten($color_01, 30%);
  color: white;
}

.Page__actions{
  position: sticky;
  // box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  top: $header_height;
  z-index: 1000000;
  background: lighten($color_02, 10%);
  width: 100%;
}

.Page__actions button{

  border-right: .2rem solid lighten($color_02, 5%);
  padding: 1rem;
  height: $page_title_height;
}

.Page__button_page{
  background-color: lighten($color_02, 10%);
}

.Page__button_page_active{
  background-color: darken($color_02, 10%);
}

.Page__content_wrapper{
  // border: 1px solid black;
  // background-color: rgb(245, 245, 245);
  background: rgb(245, 245, 245);
  padding-top: $top_padding_page;
  padding-left: $side_padding_page;
  padding-right: $side_padding_page;
  min-height: calc(100vh - (#{$page_title_height}*2) - #{$header_height});
}

.Page__content{

  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // border: .1rem solid blackrgb(250, 250, 250);
  // padding: 2rem;

}

/*********** PapProjectsPage ***********/

.table_wrapper{
  margin-top: 10px;
}
