*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px
}


.DateRangePickerInput{
  width: calc(100% + 10px);
}

.DateInput{
  width: 132px !important;
}

.DateInput_input{
  padding: 5px !important;
  font-size: 16px !important;
}

/*********** FormPAP ***********/

.form_field{
  display: flex;
  margin: 10px 0;
}

.form_field p {
  color: red;
  margin: 0;
  padding-left: 10px;
  font-weight: 400;
}

.form_PAP div label {
  min-width: 200px;
}

.field_input {
  min-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
}

.form_field__select{
  width: 300px;
}


/*********** SideBar ***********/

.sidebar{
  background-color: #254467;
  color: white;
  position: fixed;
  height: 100vh;
  max-width: 20vw;
  display: flex;
  flex-direction: column;
}

.sidebar_container{
  /* width: 90%; */
  /* padding: 0 10px; */
}

.user_info{

  border-top: 1px solid #1c334d;
  border-bottom: 1px solid #1c334d;
  display: inline-flex;
  /* width: auto; */
  padding: 20px 10px;
  background-color: #213c5c;
}

.user_info_data{

  padding-left: 10px;
}

.user_info_data h3{
  margin: 0;
  margin-bottom: 2px;
}

.user_info_data span{
  font-size: 12px;
  color: rgb(193, 193, 193);
  display: block;
}

.sidebar__items{
  display: flex;
  flex-direction: column;
  /* padding: .5rem; */
  padding-right: 0;
  width: 100%;
}

.sidebar__items_item{
 text-decoration: none;
 color: #e65a28;
 padding: .5rem 0;
 padding-left: .5rem;
 border-bottom: 1px solid #1c334d;
}

.sidebar__items_item:hover{
  background: #182a40;
  color: #d05123;
}

/*********** Header ***********/
.header{
  min-height: 55.5px;
  border-bottom: 1px solid rgb(173, 173, 173);
}
.header h1{
  margin: 0;
}

/*********** PapProjectsPage ***********/

.table_wrapper{
  margin-top: 10px;
}

/*********** ViewerTable ***********/

.header_table{
  color: white;
}

.header_table_white{
  color: black;
}

.header_table_blue{
  background: #445f70;
}

.header_table_gray{
  background: #6a768a;
}

.header_table_aqua{
  background: #56a997;
}

.header_table_green{
  background: #9fa96f;
}

.header_table_green2{
  background: #74918c;
}


.ViewerTable__wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
}

.ViewerTable__settings{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  /* text-align: right; */
}

.ViewerTable__modal{
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  z-index:100000;

  /* scroll-behavior: smooth; */
}

.ViewerTable__modal_content{
  position: relative;
  width: 80%;
  height: 80%;
  margin: 1rem auto;
  background: white;
  display: flex;

}



.ViewerTable__modal_active_cell{
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.ViewerTable__modal_table{
  overflow-y: scroll;
  height: 100%;
  flex-grow: 3;
}

.ViewerTable__modal_buttons{
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.ViewerTable__modal_input{
  position: relative;
  width: 40%;
  margin: 1rem auto;
  padding: 1rem;
  background: rgb(238, 238, 238);
  text-align: center;
  border-radius: .5rem;

}

.ViewerTable__modal_input input{
  padding: .2rem .5rem;
  width: 100%;
  border: 1px solid rgb(194, 194, 194);
  border-radius: .5rem;
}


.ViewerTable__modal_input_buttons{
  margin-top: 1rem;
}

/*********** App ***********/

.app_container{
  display: flex;
}

.app_content{
  /* width: 100%; */
  min-width: 80vw;
  margin-left: 15vw;
}

.margin_container{
  width: 95%;
  margin: auto;
}
