$header_height: 5.54rem;
$header_menu_button_height: 3rem;

$sidebar_width_open: 22rem;
$sidebar_width_close: 0rem;
$sidebar_animation: 300ms;

//Font family
$font_primary: Helvetica, sans-serif;
$font_secondary: 'IBM Plex Mono', monospace;

// Font sizes

$font_document: 1.2rem;
$font_page_title: 2rem;
$font_table_header: 1.6rem;
$font_table_row: 1.2rem;


//Colors

$color_01: #254467;

$color_02: #e65a28;
$color_03: #3f6183;

// Module pages

$side_padding_page: 5rem;
$top_padding_page: 3rem;
$page_title_height: 4.2rem;

// Form

$vertical_space_fields: 1rem;
$label_min_width: 8rem;
$input_min_width: 25rem;
$input_padding: .5rem;

// $primary_color: black;
